PIHOLE_INTERFACE=eth0
PIHOLE_DNS_1={{ PIHOLE_DNS_1 }}
PIHOLE_DNS_2={{ PIHOLE_DNS_2 }}
PIHOLE_DNS_3={{ PIHOLE_DNS_3 }}
PIHOLE_DNS_4={{ PIHOLE_DNS_4 }}
QUERY_LOGGING={{ PIHOLE_QUERY_LOGGING }}
CACHE_SIZE={{ PIHOLE_CACHE_SIZE }}
BLOCKING_ENABLED=true
WEBUIBOXEDLAYOUT={{ PIHOLE_WEBUI_BOXED_LAYOUT }}
WEBTHEME={{ PIHOLE_WEBUI_THEME }}
WEBPASSWORD=
