server {
    server_name {{ AUTHELIA_SESSION_URL }};
    listen 80;
    return 301 https://$server_name$request_uri;

    access_log /var/log/nginx/authelia-access.log;
    error_log /var/log/nginx/authelia-error.log;
}

server {
    server_name {{ AUTHELIA_SESSION_URL }};
    listen 443 ssl;

    set $upstream http://{{ AUTHELIA_DOCKER_SERVICE_NAME }}:9091;

    location / {
        include /etc/nginx/snippets/proxy.conf;
        proxy_pass $upstream;
    }

    location = /api/verify {
        proxy_pass $upstream;
    }

    location /api/authz/ {
        proxy_pass $upstream;
    }

    include /etc/nginx/snippets/ssl-params.conf;

{% if SSL_GEN == 'auto'%}
    ssl_certificate /etc/letsencrypt/live/{{ AUTHELIA_SESSION_URL }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ AUTHELIA_SESSION_URL }}/privkey.pem;
{% endif %}

}
