server {
    server_name {{ AUTHELIA_SESSION_URL }};
    listen 80;

    location / {
        return 301 https://$host$request_uri;
    }

    access_log /var/log/nginx/authelia-access.log;
    error_log /var/log/nginx/authelia-error.log;
}

server {
    server_name {{ AUTHELIA_SESSION_URL }};
    listen 443 ssl;

    set $upstream http://{{ AUTHELIA_DOCKER_SERVICE_NAME }}:9091;

    location / {
        include /etc/nginx/snippets/proxy.conf;
        proxy_pass $upstream;
    }

    location = /api/verify {
        proxy_pass $upstream;
    }

    location /api/authz/ {
        proxy_pass $upstream;
    }

    include /etc/nginx/snippets/ssl-params.conf;

{% if SSL_GEN == 'auto'%}
    acme_certificate letsencrypt;

    ssl_certificate     $acme_certificate;
    ssl_certificate_key $acme_certificate_key;
    ssl_certificate_cache max=2;
{% endif %}
}
