services:
  {{ WG_DOCKER_SERVICE_NAME }}:
    image: ghcr.io/wg-easy/wg-easy:{{ WG_DOCKER_IMAGE_VERSION }}
    container_name: {{ WG_DOCKER_CONTAINER_NAME }}
    restart: unless-stopped
    environment:
      LANG: {{ WG_LANG }}
      WG_HOST: {{ SERVER_HOST }}
      # Optional:
      PASSWORD_HASH: {{ WG_UI_PASSWORD_HASH }}
      PORT: {{ WG_UI_PORT}}
      WG_PORT: {{ WG_PORT }}
      # WG_CONFIG_PORT: 92820
      WG_DEFAULT_ADDRESS: {{ WG_DEFAULT_ADDRESS }}
      WG_DEFAULT_DNS: {{ OWN_DNS_SERVER if DNS_SERVER_INSTALL else WG_DEFAULT_DNS }}
      WG_MTU: {{ WG_MTU }}
      # WG_ALLOWED_IPS: 192.168.15.0/24, 10.0.1.0/24
      # WG_PERSISTENT_KEEPALIVE: 25
{% if WG_PRE_UP_FIREWALL_RULES is defined and WG_PRE_UP_FIREWALL_RULES | length > 0 %}
      WG_PRE_UP: >
        {{ WG_PRE_UP_FIREWALL_RULES | indent(8) }}
{% endif %}
{% if WG_POST_UP_FIREWALL_RULES is defined and WG_POST_UP_FIREWALL_RULES | length > 0 %}
      WG_POST_UP: >
        {{ WG_POST_UP_FIREWALL_RULES | indent(8) }}
{% endif %}
{% if WG_PRE_DOWN_FIREWALL_RULES is defined and WG_PRE_DOWN_FIREWALL_RULES | length > 0 %}
      WG_PRE_DOWN: >
        {{ WG_PRE_DOWN_FIREWALL_RULES | indent(8) }}
{% endif %}
{% if WG_POST_DOWN_FIREWALL_RULES is defined and WG_POST_DOWN_FIREWALL_RULES | length > 0 %}
      WG_POST_DOWN: >
        {{ WG_POST_DOWN_FIREWALL_RULES | indent(8) }}
{% endif %}
      UI_TRAFFIC_STATS: {{ WG_UI_TRAFFIC_STATS }}
      UI_CHART_TYPE: {{ WG_UI_CHART_TYPE }} # (0 Charts disabled, 1 # Line chart, 2 # Area chart, 3 # Bar chart)
    networks:
      - services_network
    ports:
      - "{{ WG_PORT }}:{{ WG_PORT }}/udp"
{% if DNS_SERVER_INSTALL %}
    dns:
      - 127.0.0.1
{% endif %}
{% if WG_ADDITIONAL_PORTS is defined and WG_ADDITIONAL_PORTS | length > 0 %}
{% for port in WG_ADDITIONAL_PORTS %}
      - {{ port }}
{% endfor %}
{% endif %}
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
    volumes:
      - {{ WG_DOCKER_PATH }}/config:/etc/wireguard

networks:
  services_network:
    name: {{ DOCKER_SERVICES_NETWORK_NAME }}
    external: true
